@import url('https://fonts.googleapis.com/css?family=Roboto: 400, 400italic, 500, 700, 700italic, 300, 300italic');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP &family=Roboto&display=swap');:root {
    --bg-color: #eee;
    --white-color: #ffffff;
    --accents-color: #ffc200;
    --text-color: #5b5b5b;
    --h1-color: #212121;
    --h2-color: #353535;
    --h3-color: #484848;
    --main-btn-color: #474559;

    --dark-bg-color: #0c0c0d;

    --dark-bg-color: #121212ff;
    --dark-nav-text-color: rgba(238, 238, 238, 0.8);
    --dark-text-color: #909090ff;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
}

.full-screen {
    padding: 8rem 0;
}

.small-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}
a:hover {
    color: var(--accents-color) !important;
}

.navbar-brand .uil {
    font-size: 40px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: var(--h1-color);
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: var(--h2-color);
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    color: var(--h3-color);
}

h3,
b,
strong {
    font-weight: bold;
}
#landing {
    height: 100vh;
}
#about {
    height: 100%;
}

.recent-technologies {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}

.custom-btn {
    background: var(--bg-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
}

.custom-btn:hover {
    color: var(--accents-color);
}

.custom-btn.custom-btn-bg {
    background: var(--main-btn-color);
    color: var(--white-color);
}

.custom-btn.custom-btn-bg:hover {
    background: var(--accents-color);
    color: var(--white-color) !important;
}

.about-text p {
    font-size: 24px;
}

.welcome_text {
    font-size: 45px;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    min-width: 300px;
    position: relative;
}

.animated-item {
    color: var(--accents-color);
    font-size: 44px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n + 2) {
    animation-delay: 2s;
}
.animated-item:nth-child(3n + 3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
    transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
    transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
    background: var(--white-color);
    border-bottom: 1px solid #f0f0f0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 20px;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}
.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}
.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--accents-color);
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: var(--h1-color);
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.dark-mode .navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}
.dark-mode .project-overline {
    color: var(--accents-color);
}
.dark-mode .project-overline {
    color: var(--accents-color);
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode:hover {
    color: var(--accents-color);
}

.color-mode-icon {
    position: relative;
    right: 6px;
}
.color-mode-icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}
.color-mode-icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: var(--white-color);
}

.color-mode-icon.active:hover:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: var(--accents-color);
}

.dark-mode {
    background: var(--dark-bg-color);
}
.dark-mode .navbar-light .navbar-nav .nav-link {
    color: var(--dark-nav-text-color);
}

.dark-mode .navbar[class*="headroom--not-top"] {
    background: var(--dark-bg-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.dark-mode .navbar-collapse {
    background: var(--dark-bg-color);
    text-align: center;
    padding-bottom: 20px;
}

.dark-mode .navbar-toggler {
    color: var(--accents-color);
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.dark-mode .small-text {
    background: #0d0c15;
    color: var(--dark-text-color);
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .project-tech-list li,
.dark-mode .project-links a,
.dark-mode .job-description p,
.dark-mode .color-mode {
    color: var(--dark-text-color);
}

.dark-mode .company,
.dark-mode .company-names {
    text-shadow: none;
}

.dark-mode h1,
.dark-mode .color-mode {
    color: var(--white-color);
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
    color: var(--dark-text-color);
}

.profile-picture {
    border-radius: 50%;
}
.dark-mode .profile-picture {
    filter: grayscale(100%);
}


/* --------------------- */
/* ----- Alignment ----- */
/* --------------------- */
.center-aligned {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-aligned {
    display: flex;
    align-items: center;
    justify-content: start;
}
.right-aligned {
    display: flex;
    align-items: center;
    justify-content: end;
}
.left {
    left: 0;
    text-align: start;
    margin-right: auto
}
.right {
    right: 0;
    text-align: end;
}


/* -------------------- */
/* ----- Projects ----- */
/* -------------------- */

.heading {
    padding: 15vh 0 5vh;
}

.project-spacing {
    height: 10vh;
}
.project-card {
    display: flex;
    flex-direction: row-reverse;
    position: relative; /* establish nearest positioned ancenstor for absolute positioning */
}
.project-content {
    position: absolute;
}
.project-overline {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: #10222A;
    margin: 0;
    padding: 0;
}
.project-title {
    color: var(--h2-color);
    padding-bottom: 5px;
}
.project-description {
    background-color: #10222A;
    padding: 8px 50px 8px 20px;
    margin: 0;
    border-radius: 8px;
}
.description_left {
    padding: 8px 50px 8px 20px;
}
.description_right {
    padding: 8px 20px 8px 50px;
}
.project-description p {
    margin: 0;
    padding: 0;
    color: var(--white-color);
}
.project-tech-list {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    list-style: none;
}
.project-tech-list-right li {
    color: var(--main-btn-color);
    float: right;
    padding: 5px 0 5px 16px;
}
.project-tech-list-left li {
    color: var(--main-btn-color);
    float: left;
    padding: 5px 16px 5px 0;
}
.fa {
    font-size: 24px
}
.project-links a {
    text-decoration: none;
    color: var(--main-btn-color);
}
.project-links-left a {
    padding: 5px 16px 5px 0;
}

.project-links-right a {
    padding: 5px 0 5px 16px;
}

.project-image a img {
    -moz-box-shadow: 0 0 10px var(--main-btn-color);
    -webkit-box-shadow: 0 0 10px var(--main-btn-color);
    box-shadow: 0 0 10px var(--main-btn-color);
    border-radius: 8px;
}


/* ---------------------- */
/* ----- Experience ----- */
/* ---------------------- */

.vl {
    border-left: 3px solid var(--accents-color);
    height: inherit;
}
.experience_wrapper {
    justify-content: center;
}
.company-names {
    padding: 12px 15px;
    margin: 0;
    font-weight: bold;
    color: var(--accents-color);
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Source Code Pro', monospace;
}
.job-description {
    padding: 0;
    margin: 0;
}
.job-description h4 {
    padding: 10px 0 0;
    margin: 0;
}
.job-description p {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    font-weight: 600;
}
.company {
    margin: 0;
    padding: 0;
}
.company {
    color: var(--accents-color);
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
}
.company a {
    color: var(--accents-color);
    font-family: 'Source Code Pro', monospace;
}
.job-description-list {
    padding-left: 20px;
    padding-top: 0;
    margin: 0;
    list-style: none;
}
.job-description-list li::marker {
    content: "▹";
    color: var(--accents-color);
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #eee;
}
.job-description-list li span {
    display: block;
    padding: 0.4em 0.5em;
    color: var(--text-color);
}


/* ------------------- */
/* ----- Contact ----- */
/* -------------------- */
.hidden {
    display: none
}
.to-email-field {
    cursor: pointer;
}

.contact-form {
    position: relative;
}
.contact-form .form-control {
    background: transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
    height: 48px;
}
.contact-form .form-control:hover,
.contact-form .form-control:focus {
    border-color: var(--accents-color);
}
.contact-form .submit-btn {
    background: var(--accents-color);
    border-radius: 50px;
    color: var(--white-color);
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
    background: var(--main-btn-color);
}

.contact-info {
    background: var(--main-btn-color);
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 8px;
}
.contact-info p,
.contact-info a {
    color: #f7f3f3;
}
.submit-btn {
    text-align: center;
    vertical-align: middle;
}

.social-links .uil {
    color: #f7f3f3;
    font-size: 20px;
    display: block;
    margin: 5px 0;
}
.social-links .uil:hover {
    color: var(--accents-color);
}

@media(max-width: 1199px) {
    .owl-theme .owl-dots {
        position: relative;
        bottom: 50px;
    }
    body {}
}
@media(max-width: 991px) {
    .full-screen {
        padding-bottom: 4rem;
    }
    .recent-technologies {
        justify-content: center;
    }
    .description {
        margin-top: 8%;
        text-align: center;
    }
    .about-image {
        margin-top: 4em;
    }

    .mobile-mt-2,
    .contact-form {
        margin-top: 2em;
    }

    .contact-info {
        padding: 0 2rem;
    }
    body {}
    .left {}
    .right {}
    .right-aligned {}
    .left-aligned {}
    .description_left {
        padding: 8px 20px;
    }
    .description_right {
        padding: 8px 20px;
    }
    .project-spacing {
        height: 8vh;
    }
    .project-card {
        position: relative;
        display: inline-block;
    }
    .project-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        min-height: 100%;
    }
    .project-overline {
        color: var(--accents-color);
        margin-top: 5%;
    }
    .project-title {
        color: white;
        margin-top: 5%;
    }
    .project-informations a {
        color: white;
    }
    .project-tech-list li {
        color: white;
    }
    .project-links-left a {
        padding: 5px 10px;
    }

    .project-links-right a {
        padding: 5px 10px;
    };
    .company-names {
        margin: 0;
        padding: 0;
    }

}

@media(max-width: 767px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 2em;
    }
    .about-text p {
        font-size: 22px;
    }
    .navbar-collapse {
        background: var(--white-color);
        text-align: center;
        padding-bottom: 20px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding: 3px 20px;
    }
    body {}
    .description {
        text-align: center;
    }
    .heading {
        padding: 8vh 0 4vh;
    }
    .description_left {
        padding: 8px 10px;
    }
    .description_right {
        padding: 8px 10px;
    }
    .project-spacing {
        height: 5vh;
    }
    .project-card {
        position: relative;
        display: inline-block;
    }
    .project-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        min-height: 100%;
    }
    .project-overline {
        color: var(--accents-color);
        margin-top: 5%;
        font-size: 15px;
    }
    .project-title {
        color: white;
        margin-top: 2%;
        font-size: 22px;
    }
    .project-description {
        margin: 0 5%;
    }
    .project-description p {
        font-size: 15px;
    }
    .project-image a img {}
}

@media(max-width: 576px) {
    .animated-info {
        min-width: 100%;
    }

    .about-text p {
        font-size: 20px;
    }

    .custom-btn-group {
        text-align: center;
    }

    .custom-btn {
        display: block;
        margin: 10px 0;
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .timeline-info small {
        display: block;
        margin: 10px 0 0;
    }
    p {
        text-align: center;
    }
    body {}
    .heading {
        padding: 6vh 0 3vh;
    }
    .project-spacing {
        height: 5vh;
    }
    .project-card {
        position: relative;
        display: inline-block;
    }
    .project-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        min-height: 100%;
    }
    .project-overline {
        display: none;
    }
    .project-title {
        color: white;
        margin-top: 8%;
        font-size: 22px;
    }
    .project-description {
        padding: 5px 10px;
        margin: 0 5%;
    }
    .project-description p {
        font-size: 15px;
    }
    .project-tech-list li {
        color: white;
        font-size: 12px;
    }
    .project-links a {
        padding: 15px 16px;
    }
    .fa {
        font-size: 20px;
    }
}

@media(max-width: 465px) {
    .animated-text {
        margin-top: 0;
    }

    .about-text {
        text-align: center;
    }

    .about-text p {
        font-size: 18px;
    }

    .full-screen {
        padding: 4rem 0;
    }

    .mobile-block {
        display: block;
    }

    .contact-info {
        flex-direction: column;
    }

    .social-links li {
        display: inline-block;
        vertical-align: top;
    }

    body {}
    .project-spacing {
        height: 5vh;
    }
    .project-card {
        position: relative;
        display: inline-block;
    }
    .project-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        min-height: 100%;
    }
    .project-overline {
        display: none;
    }
    .project-title {
        color: white;
        margin-top: 8%;
        font-size: 22px;
    }
    .project-description {
        padding: 5px 10px;
        margin: 0 5%;
    }
    .project-description p {
        font-size: 12px;
    }
    .project-tech-list li {
        color: white;
        font-size: 12px;
    }
    .project-links a {
        padding: 1px 16px;
    }
    .fa {
        font-size: 20px;
    }
}
@media(max-width: 320px) {
    .animated-text {
        margin-top: 0;
    }

    .about-text {
        text-align: center;
    }

    .about-text p {
        font-size: 18px;
    }

    .full-screen {
        padding: 4rem 0;
    }

    .mobile-block {
        display: block;
    }

    .contact-info {
        flex-direction: column;
    }

    .social-links li {
        display: inline-block;
        vertical-align: top;
    }

    body {}
}
